.signup {
   position: absolute;
   width: 100%;
   background: transparent;
   transform: translateY(-248px);
    &__block {
        // border: 1px solid red;
        border-radius: $border-radius;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2) ;
        background-color: $introBg;
        text-align: center;
        padding: 45px 30px 45px 30px;

        @include breakpoint(medium) {
            padding: 45px 60px 45px 60px;
        }

        @include breakpoint(large) {
            padding: 45px 80px 45px 80px;

        }
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 25px;
        margin-top: 35px;

        @include breakpoint(medium) {
            grid-template-columns: 1fr 200px;
            grid-gap: 30px;
            margin-top: 40px;
        }
    }

    input[type="email"] {

    }

    input[type="submit"] {

    }

}